{% assign cart_total = cart.total_price | divided_by: 100.0 %}
  <div
  class="pb-4"
  data-cart-total="{{ cart_total }}"
  data-currency-symbol="{{ cart.currency.symbol }}">
  <div class="mb-2 text-sm font-semibold">Your Progress</div>
  <div class="relative h-3 bg-gray-200 rounded-full">
    <div
      class="absolute top-0 left-0 h-full bg-green-500 !block rounded-full"
      style="width: 0%;"
      id="progress-bar"></div>

    <!-- Free Shipping Pill -->
    <div class="absolute size-10 flex items-center justify-center top-[-15px] left-[52%] bg-white border-2 border-solid border-gray-200 rounded-full text-xs" id="shipping-pill">
      <img
        src="{{ 'free-shipping.svg' | asset_url }}"
        alt="Free Shipping"
        width="28"
        height="28">
    </div>

  <!-- Free Gift Pill -->
  {% comment %} <div class="absolute size-10 flex items-center justify-center top-[-15px] left-[80%] [transform:translateX(-50%)] bg-white border-2 border-solid border-gray-200 rounded-full text-xs" id="gift-pill">
                  <img
                    src="{{ 'free-gift.svg' | asset_url }}"
                    alt="Free Gift"
                    width="28"
                    height="28">
          </div> {% endcomment %}
  </div>

  <!-- Milestone messages -->
  <div class="mt-4 text-sm" id="milestone-message">
    <!-- Message will be populated by JavaScript -->
  </div>
</div>