<div class="fixed bottom-0 left-0 right-0 bg-white z-50">
    <div class="page-width">
        <div class="flex items-center justify-between">
            <div>
                {{ product.title }}
            </div>
            <div>
                <button class="bg-black text-white px-4 py-2 rounded-md">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Floating ATC",
    "tag": "section",
    "settings": [],
    "presets": [
        {
            "name": "Floating ATC"
        }
    ]
}
{% endschema %}