<div>
    <h3>This is makes different list section</h3>
</div>

{% schema %}
    {
      "name": "Makes Different List",
      "class": "makes-different-list",
      "settings": [
        {
          "type": "text",
          "id": "makes-different-title",
          "label": "Title",
          "default": "What Makes TryScent Different? Everything That Matters."
        },
        {
          "type": "image_picker",
          "id": "makes-different-image",
          "label": "Section Image"
        },
        {
          "type": "text",
          "id": "makes-different-btn-text",
          "label": "Button Text",
          "default": "Click Here"
        },
        {
          "type": "url",
          "id": "makes-different-btn-link",
          "label": "Button Link"
        }
      ],
      "blocks": [
        {
          "type": "list_item",
          "name": "List Item",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "description",
              "label": "Description"
            }
          ]
        }
      ],
      "max_blocks": 20,
      "presets": [
        {
          "name": "Makes Different",
          "blocks": [
            {
              "type": "list_item"
            }
          ]
        }
      ]
    }
    {% endschema %}
    