<div
  class="overflow-hidden flex items-center whitespace-nowrap max-w-full text-black py-3"
>
  {% for i in (1..2) %}
    <div class="flex gap-6 animate-move-left">
        {% for i in (1..3) %}
            {% for block in section.blocks %}
            <a href="{{ block.settings.link }}" class="flex items-center gap-1 no-underline hover:no-underline text-black">
                {% if block.settings.icon %}
                <img src="{{ block.settings.icon | img_url: '32x32' }}" alt="" class="inline-block mr-1" style="height: 1.2em; width: auto; max-width: 1.2em;" />
                {% endif %}
                <span class="md:text-xs text-xs uppercase font-semibold">
                {{ block.settings.label }}
                </span>
            </a>
            {% endfor %}
        {% endfor %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Marquee Labels",
    "max_blocks": 12,
    "class": "announcement-bar-section",
    "enabled_on": {
      "groups": ["header"]
    },
    "blocks": [
      {
        "type": "label",
        "name": "Label",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }, {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "Free Shipping"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee Labels"
      }
    ]
  }
{% endschema %}