<div class="pt-16">
  <div class="page-width flex justify-center">
    <img
      src="https://cdn.shopify.com/s/files/1/0086/7932/5753/files/truspilot_badge_desktop.png?v=1754049867"
      alt="TrustPilot"
      width="1516"
      height="auto"
      class="max-w-[700px] w-full h-auto [display:none] md:block">
    <img
      src="https://cdn.shopify.com/s/files/1/0086/7932/5753/files/trustpilot-mobile.avif?v=1754049838"
      alt="TrustPilot"
      width="677"
      height="auto"
      class="max-w-full h-auto md:hidden">
  </div>
</div>

{% schema %}
  {
    "name": "Review Section Top",
    "presets": [
      {
        "name": "Review Section Top"
      }
    ]
  }
{% endschema %}