<div>
  <h2>Special Offer Section BTGO</h2>
</div>

{% schema %}

  {
    "name": "Special Offer",
    "class": "special-offer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Offer Text",
        "default": "Special Offer"
      },

      {
        "type": "text",
        "id": "offer_title",
        "label": "Offer Title",
        "default": "Your Offer Title Goes Here"
      },
      {
        "type": "text",
        "id": "offer_description",
        "label": "Offer Description",
        "default": "Your Offer Description Goes Here"
      },
      {
        "type": "text",
        "id": "offer_sub_description",
        "label": "Offer Sub Description",
        "default": "Your Offer Sub Description Goes Here"
      }, {
        "type": "text",
        "id": "offer_button_text",
        "label": "Offer Button Text",
        "default": "Click Here"
      }, {
        "type": "url",
        "id": "offer_button_link",
        "label": "Offer Button Link"
      }
    ]
  }

{% endschema %}