/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/tailwind.css ***!
  \**************************************************************************************************************/
.static {
    position: static
}

.fixed {
    position: fixed
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.isolate {
    isolation: isolate
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mx-1 {
    margin-left: 4px;
    margin-right: 4px
}

.mr-1 {
    margin-right: 4px
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.max-w-full {
    max-width: 100%
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.gap-1 {
    gap: 4px
}

.gap-6 {
    gap: 24px
}

.overflow-hidden {
    overflow: hidden
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.whitespace-nowrap {
    white-space: nowrap
}

.border {
    border-width: 1px
}

.bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1))
}

.bg-green-700\/85 {
    background-color: rgb(21 128 61 / 0.85)
}

.py-3 {
    padding-top: 12px;
    padding-bottom: 12px
}

.py-1 {
    padding-top: 4px;
    padding-bottom: 4px
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px
}

.text-xs {
    font-size: 12px;
    line-height: 16px
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.italic {
    font-style: italic
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.no-underline {
    text-decoration-line: none
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.hover\:no-underline:hover {
    text-decoration-line: none
}

@media (min-width: 768px) {

    .md\:text-xs {
        font-size: 12px;
        line-height: 16px
    }
}
