@tailwind utilities;

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.shimmer-btn {
    position: relative;
    overflow: hidden;
}

.shimmer-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #fff0, #fff3, #fff0);
    transform: skew(-25deg);
    animation: shimmer 3s infinite;
    z-index: 1;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  80% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}